<main>
    <div class="row-12 gy-5 gx-5">
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>
    


</main>