<main class="m-5">

     <div class="">
         <div class="form-label" for="">radio</div>
        <div class="form-check text-bg-dark col-4">
            <input name="ir1" class="form-check-input" type="radio">
            <label class="form-check-label">
                PROC
            </label>
        </div>
         <div class="form-check text-bg-dark">
            <input name="ir1" class="form-check-input" type="radio">
            <label class="form-check-label">
                sfsfs
            </label>
        </div>
    </div>




    <hr class="m-5">

    <div class="row">
          
        <div class="form-check text-bg-dark col-4">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                PROC
            </label>
        </div>
         <div class="form-check text-bg-dark">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                sfsfs
            </label>
        </div>
    </div>




    <hr class="m-5">
    <div class="row">
        <label class="form-label" for="">vibor</label>
        <select class="Select field col-3" name="" id="">
            <option value="1" selected> my select</option>
            <option value="2">2 s</option>
            <option value="3">3 s</option>
        </select>



    </div>


    <hr class="m-5">

    <div class="row">
        <div>
            <div class="Text field ">
                <label class="form-label" for="">zagolo</label>
                <div class="col-4">
                    <input class="form-control " type="text">
                </div>

                <div class="form-text">pidkaz sdfsf sfsf sdfsf</div>

            </div>
        </div>

    </div>




    <hr class="m-5">

    <div class="nav nav-tabs">
        <div class="nav-item ">
            <a class="nav-link " href="#">link1</a>
        </div>
        <div class="nav-item ">
            <a class="nav-link active" href="#">link2</a>
        </div>
        <div class="nav-item ">
            <a class="nav-link " href="#">link3</a>
        </div>
        <div class="nav-item ">
            <a class="nav-link" href="#">link4</a>
        </div>
    </div>



    <br>
    <br>






    <div class="row ">
        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>

        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
        <div class="card   col-4 m-1">
            <img class="card-img-top" src="https://picsum.photos/400/300" alt="lot card">
            <div class="card-body">
                <h5 class="card-title text-bg-secondary">ЛОТ №3</h5>
                <p class="text-warning"> 304211 Блендер стаціонарний Kamille - 1,5л x 600Вт</p>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>



</main>