<div class="m-4">
    {{#with main}}
    <main class="m-4">
        <section>
            {{> title data="My education" big=true}}
            <ul class="list-group my-3">
                {{#each Educations}}
                <li class="list-group-item">
                    {{name}}
                    {{#unless isEnd}} (ще в процесі) {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
        <section>
            {{> title data="My certificates" }}
            <ul class="list-group my-3">
                {{#each certificates }}
                <li class="list-group-item">
                    {{name}}
                    ({{id}})
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>