{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="m-4">
    <h4 class="mt-5">Список сторінок</h4>
    <div>
        Мій перший проект в рамках навчання.
    </div>
    <div class="row">
        <div class="col-6">
            {{#each page}}
            <a class=" col-4 btn btn-primary my-2" href="/{{this}}">{{this}}</a>
            {{/each}}


        </div>
        <div class="col-6">

        </div>
    </div>
</main>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}