{{#with main}}
<main>
    <section>
        {{> title data="All Skills"}}
        <ul>
            {{#each skills}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
</main>
{{/with}}